<!DOCTYPE html>
<html>
  <head>
    <title>Lecture Dashboard | Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
	<h1><%= message %></h1>
	<h2><%= error.status %></h2>
	<code><%= error.stack %></code>
  </body>
</html>
