<!DOCTYPE html>
<html>
  <head>
    <title>Lecture Dashboard | realtime lecture dashboard</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/handlebars.runtime.js"></script>
	<script src="/js/Chart.min.js"></script>
    <script src="/js/templates.js"></script>
	<script src="/js/client.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/lectureSession.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/utils.js"></script>
  <script src="/js/tinyColor.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
	<script src="/js/dashboardChart.js" type="text/javascript"></script>
  <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
	  <div id="main" class="container-fluid"> 
		<div class="row">
			<div class="col-md-3">
				<div id="header-container"></div>
	  			<div id="lectureDetails-container" class="panel panel-danger fill"></div>
	  			<div id="sessionLinks-container"></div>
	  			<p>Members Connected: <span id="listeners">0</span></p>
          <p>Understanding Score: <span id="understanding"></span></p>

	  		</div>
	  		<div id="graph-container" class="col-md-9 full-container">
			    <div class="embed-responsive embed-responsive-16by9" id="player">
		  			<canvas id="graph"></canvas>
		  		</div>
			    <div id = "lectureFooter-container"class="panel panel-default"></div>
				<div id="footer-static"></div>
	  	    </div>
		</div>
	</div>
  </body>
</html>