<!DOCTYPE html>
<html>
  <head>
    <title>Lecture Dashboard | realtime lecture dashboard</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/handlebars.runtime.js"></script>
	<script src="/js/Chart.min.js"></script>
    <script src="/js/templates.js"></script>
	<script src="/js/client.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/utils.js"></script>
	<script>
		//Chart.js Sample. Can replace this with whatever you want later.
		var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
		var lineChartData = {
			labels : ["January","February","March","April","May","June","July"],
			datasets : [
				{
					label: "My First dataset",
					fillColor : "rgba(220,220,220,0.2)",
					strokeColor : "rgba(220,220,220,1)",
					pointColor : "rgba(220,220,220,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(220,220,220,1)",
					data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
				},
				{
					label: "My Second dataset",
					fillColor : "rgba(151,187,205,0.2)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(151,187,205,1)",
					data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
				}
			]

		}

		window.onload = function(){
			var ctx = document.getElementById("graph").getContext("2d");
			window.myLine = new Chart(ctx).Line(lineChartData, {
				responsive: true
			});
		}
	</script>
  </head>
  <body>
	  <div id="main" class="container-fluid"> 
		<div class="row">
			<div class="col-md-3">
	  			<h1 class="logo-white">huh?</h1>
	  			<h4>realtime lecture dashboard.</h4>
	  			<br>
				<div id="status-button">
					<button type="button" class="huh-button btn btn-warning btn-lg">
					  Huh?
					</button>
				</div>
				<br>
	  			<div class="panel panel-danger fill">
	  				<div class="panel-heading">
	  					<h4>Lecture Details</h4>
	  				</div>
	  				  <div class="panel-body">
						<p><strong>Class:</strong> 6.046</p>
	  				  	<p><strong>Topic:</strong> Bellman-Ford</p>
						<p><strong>Lecturer:</strong> John Smith</p>
	  				  </div> 
	  			</div>
	  		</div>
	  		<div id="graph-container" class="col-md-9 full-container">
		      <div class="embed-responsive embed-responsive-16by9" id="player">
	  			  	<canvas id="graph"></canvas>
	  		  </div>
			<div id="footer-static">
				<p>huh? by Kulpreet Chilana, Eduardo De Leon, Nick Locascio, Matt Susskind</p>
			</div>
	  	  </div>
		</div>
	</div>
  </body>
</html>