<div class="panel-heading">
	<h4>Lecture Details</h4>
</div>
<div class="panel-body">
	<p><strong>Class:</strong> {{className}}</p>
	<p><strong>Topic:</strong> {{topic}}</p>
	<p><strong>Lecturer:</strong> {{lecturerName}}</p>
</div> 