<div class="panel-heading">
	<h4>Lecture Details</h4>
</div>
<div class="panel-body">
	<p><strong>Class:</strong> 6.0dwdw46</p>
	<p><strong>Topic:</strong> Bellman-Ford</p>
	<p><strong>Lecturer:</strong> John Smith</p>
</div> 