<p>Give this link to your audience members to get live feedback:</p>
<div id="link" class="input-group input-group-sm">
	<span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
	<input type="text" id="link-text" class="form-control" placeholder="Link" readonly>
</div>
